.partner-info {
  padding: 60px 0;
}

.filter-q {
  padding-bottom: 36px;
}

.partner-logos {
  padding-bottom: 48px;

  .partner-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 45px;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

@media only screen and (min-width: 769px) {
  .filter-q {
    padding-bottom: 64px;
  }

  .partner-logos {
    padding-bottom: 48px;
  }
}
