.partner-info {
  padding: 60px 0 120px;

  .info-container {
    max-width: 75%;
  }
}

.filter-q {
  padding-bottom: 36px;
  color: @accent;
  border-color: @accent;

  .filter-button {
    &:after {
      content: '?';
      position: relative;
      left: -5px;
    }
    &.active, &.active:hover {
      color: black;
      border-color: black !important;
    }
    &:hover {
      // filter: opacity(.75);
      color: #AD18B9;
      border-color: #AD18B9 !important;

    }
    &.active:hover {
      filter: none;
    }

    &.active:after {
      content: '!';
    }

    &.clearer:after {
      content: '';
    }
  }
}

.partner-logos {
  .partner-logo {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: 20px;
    transition: transform .4s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}
.ahg-infos {
  padding-bottom: 32px;
}
.partners.filtered .ahg-infos {
  display: none;
}

.partner {
  margin-bottom: 10px;

  .mini-info {
    height: 80px;
    display: none;
  }
  
  &.filtered {
    margin-bottom: 50px;
    .mini-info {
      display: block;
    }
  }
}

.partner-social a.partner-social {
  margin-top: 30px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.insta {
    background-image: url('../../images/footer_insta.svg');
  }
  &.facebook {
    background-image: url('../../images/footer_fb.svg');
  }
}

@media only screen and (min-width: 769px) {
  .partner-info {
    .info-container {
      max-width: none;
    }
  }

  .filter-q {
    padding-bottom: 64px;
  }

  .partner-logos {
    padding-bottom: 24px;
  }

  .partner {
    .mini-info {
      height: 60px;
    }
  }
}
