.post-info {
  padding: 60px 0 120px;

  h1 {
    color: @accent;
    margin-top: 0;
    margin-bottom: 48px;
  }

  .subtitle {
    padding-bottom: 16px;
  }
}

.posterinos {
  margin-top: 120px;

  .posterinos-container {
    border-top: 3px solid black;
    margin-bottom: 45px;
  }

  .posterino {
    border-bottom: 3px solid black;

    a {
      margin: 16px 0 5px;
      display: block;
    }
  }
}

@media only screen and (min-width: 769px) {
  .posterinos {
    margin-top: 0;
  }
}
